.header {
   padding-top: 3.125rem;
   padding-bottom: 12.5rem;
}
.header__container {
   display: grid;
   grid-template-columns: auto auto;
   justify-content: space-between;
   align-items: start;
   gap: 1.875rem;
}
.header__menu {
}
.menu {
}
.menu__list {
   display: grid;
}
.menu__item {
   opacity: 0;
   transform: translateY(-3.125rem);
   transition:
      transform 0.8s,
      opacity 0.8s;
}
.menu__list._active .menu__item {
   transform: translateY(0);
   opacity: 1;
}
.menu__list._active .menu__item:nth-child(1) {
   transition-delay: 0.2s;
}
.menu__list._active .menu__item:nth-child(2) {
   transition-delay: 0.4s;
}
.menu__list._active .menu__item:nth-child(3) {
   transition-delay: 0.6s;
}
.menu__list._active .menu__item:nth-child(4) {
   transition-delay: 0.8s;
}
.menu__item:not(:last-child) {
   margin-bottom: 0.25rem;
}
.menu__link {
   color: #000;
}
@media (max-width: 47.9988rem) {
   .menu__link {
      display: block;
   }
}
.link {
}
.menu__link--contact {
   display: flex;
   align-items: center;
}
.menu__link--contact svg {
   transition: transform 0.3s;
}
.menu__link--contact svg path {
   transition: stroke 0.3s linear;
}
.menu__link--contact span:not(:last-child) {
   padding-right: 0.5rem;
}
@media (any-hover: hover) {
   .menu__link--contact:hover svg {
      transform: rotate(46.5deg);
   }
   .menu__link--contact:hover svg path {
      stroke: #ff6c37;
   }
}
@media (any-hover: none) {
   .menu__link--contact:active svg {
      transform: rotate(46.5deg);
   }
   .menu__link--contact:active svg path {
      transition-duration: 0s;
      stroke: #ff6c37;
   }
}
@media (max-width: 47.9988rem) {
   .menu__link--contact span:not(:last-child) {
      padding-right: 0.375rem;
   }
   .menu__link--contact svg {
      width: 0.75rem;
      height: 0.75rem;
   }
}
.header__content {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   max-width: 37.5rem;
   animation: hide-show 5.5s ease-in-out infinite;
}
@keyframes hide-show {
   0% {
      opacity: 0;
   }
   60% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}
.header__title {
   font-size: 9.375rem;
   line-height: normal;
   line-height: 0.8;
}
.header__sub-title {
}
.header__sub-title:not(:last-child) {
   margin-right: 1.25rem;
}
.header__agency-name {
   font-size: 1.25rem;
   line-height: 129.166667%; /* 31/24 */
   max-width: 8.75rem;
}
.header__title--gray {
   background-color: #484848;
   color: #f5f5f5;
   padding: 0.3125rem;
}
@media (max-width: 75rem) {
   .header {
      padding-bottom: 7.5rem;
   }
   .header__title {
      font-size: 6.25rem;
   }
   .header__content {
      max-width: 25rem;
   }
}
@media (max-width: 61.9988rem) {
   .header {
      padding-top: 2.5rem;
      padding-bottom: 3.75rem;
   }
   .header__sub-title:not(:last-child) {
      margin-right: 0.9375rem;
   }
   .header__title {
      font-size: 5.3125rem;
   }
   .header__content {
      max-width: 21.25rem;
   }
}
@media (max-width: 47.9988rem) {
   .header {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
   }
   .header__title {
      font-size: 4.375rem;
   }
   .header__sub-title:not(:last-child) {
      margin-right: 0.3125rem;
   }
   .header__container {
      grid-template-columns: 1fr;
   }
   .header__content {
      gap: 0.3125rem;
      justify-self: center;
      max-width: 17.5rem;
   }
   .header__agency-name {
      font-size: 0.875rem;
      max-width: 6.25rem;
   }
}
@media (max-width: 29.9988rem) {
   .header {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
   }
   .header__title {
      font-size: 2.8125rem;
   }
   .header__content {
      max-width: 13.75rem;
   }
}
